@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: linear-gradient(90deg, #0e3959 0%,#0e3959 30%,#ff0857 30%,#ff0857 100%);
}

.contactus{
    position: relative;
    width: 100%;
    padding: 40px 100Px;
}

.contactus .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2{
    color: #fff;
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba( 0, 0, 0,0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formbox{
    position: relative;
    width: 100%;
}

.formbox .row50{
    display: flex;
    gap: 20px;
}

.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.formbox .row100 .inputbox{
    width: 100%;
}
.inputbox span{
    color: #0f0e0e;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 230px;
    margin-bottom: 10px;
}

.inputbox input[type="submit"]{
    background: #ff0857;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    border-radius: 12px;
    transition: 0.7s ease;
}

.inputbox input[type="submit"]:hover{
color: #ff0857;
background-color: #0e3959;
transform: scale(1.1);
}

.inputbox ::placeholder{
    color: #999;
}

/* social media links */

.info{
    background: #0e3959;
}

.info h3{
    color: #fff;
}

.info .infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infobox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #ff0857;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.7s ease;
    
}

.info .infobox div span:hover{
    color: #0e3959;
    transform: scale(1.1);
}

.info .infobox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infobox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci{
    margin-top: 40px;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover{
    color: #fff;
}

.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

