@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

/* start header */
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    background-color: #0e3959;
}

.header nav ul li {
    display: inline-block;
}

header nav ul.ulF li {
    padding: 0%;
}

header nav ul.ulF li a {
    padding: 0%;
}

header nav ul.ulF li a img {
    width: 200px;
    margin-top: 10px;
}

.header nav ul li a {
    display: block;
    text-transform: capitalize;
    font-size: 18px;
    color: #2b2b2b;
    padding: 10px 15px;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.header nav ul li a:hover {
    color: #ff3478;
}

.header ul li.uniq {
    background-color: #ff0857;
    border-radius: 7px;
    transition: 300ms ease-in-out;
    border: 2px solid #0e3959;
}

.header ul li.uniq:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.header ul li.uniq a {
    color: #fff;
}

/* end header */
/* start main */

.main .head_text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 2em 3em;
    margin: 0px 0 5em 0;
    background: linear-gradient(130deg, #0e3959 40%, #ff0857 40%, #ff0857 100%);
}

.main .head_text .bg_head {
    width: 50%;
}

.main .head_text .right_text img {
    width: 90%;
    border-radius: 15px;
    text-align: center;
}

.main .head_text .left_text h1 {
    font-size: 2.2em;
    text-transform: capitalize;
    width: 115%;
    color: #ffffff;
}

.main .head_text .left_text p {
    margin: 13px 0;
    color: #ffffff;
    font-weight: 400;
}

.main .head_text .left_text a {
    background-color: #ff0857;
    font-size: 17px;
    padding: 10px 40px;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #0e3959;

}

.main_content .title_head,
.departement .title_head {
    text-align: center;
}

.main_content .title_head h1,
.departement .title_head h1 {
    font-size: 2.7em;
    margin: 10px 0;
    color: #ff0857;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    z-index: 10;
    position: relative;
}

.main_content .title_head p {
    margin: 10px 0;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 400;
}

.main_content .title_head p span {
    color: #ff0857;
    font-weight: 550;
}

.main_content .para_content {
    padding: 1.2em 3em;
}

.main_content .para_content p {
    color: #000000ad;
    font-size: 14.5px;
    padding: 1.2em 3.5em;
}

.main_content .para_content .col_three {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-gap: 2em;
    text-align: center;
    margin: 6em auto 3em auto;
    width: 95%;
}

.main_content .para_content .col_three .col {
    border-radius: 7px;
    box-shadow: 0px 0px 20px #cacaca54;
    padding: 10px;
}

.main_content .para_content .col_three .col section {
    padding: 30px 13px;
}

.main_content .para_content .col_three .col section img {
    width: 100%;
}

.main_content .para_content .col_three .col h2 {
    color: #121212;
    font-weight: 500;
    margin: 14px 0;
    text-transform: capitalize;
}

.main_content .para_content .col_three .col p {
    font-size: 14px;
    margin: 20px 0;
    color: #000000ad;

}

.main_content .para_content .col_three .col p a {
    font-size: 14.5px;
    color: #ff0857;
    text-decoration: underline;
}

.departement .net_depart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 2em;
    margin: 20px auto;
    width: 95%;
    padding: 1.4em;
}

.departement .net_depart .depart {
    background: #eae9e961;
    padding: 2.5em 30px 45px 30px;
    border-radius: 5px 5px 2px 2px;
    position: relative;
    margin-top: 2em;
    border-bottom: 5px solid #e91e63;
    transition: 650ms cubic-bezier(1, 0, 0, 1);
}

.departement .net_depart .depart:hover {
    transform: scale(1.08, 1.08);
}

.departement .net_depart .depart img {
    position: absolute;
    top: -14%;
    left: 4%;
    fill: #e91e63;
    width: 3.4em;
}

.departement .net_depart .depart h3 {
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 500;
}

.departement .net_depart .depart p {
    font-size: 15px;
    color: #00000095;
    margin: 5px 0;
}

.main .register {
    background-color: #eae9e961;
    width: 50%;
    min-height: 80vh;
    margin: 5em auto;
    border-radius: 10px 10px 40px 40px;
    box-shadow: 0px 0px 20px #a9a9a954;
}

.main .register .title_head h1 {
    padding: 2.5rem 0;
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
    color: #e91e63;
}

.main .register .form section h3 {
    padding: 2em 0;
    text-align: center;
    text-transform: capitalize;
    font: weight 400;
}

.main .register .form {
    width: 100%;
    background-color: #ffffff;
    min-height: inherit;
    margin: 20px auto;
    border-radius: 30px;
}

.main .register .form_in {
    padding: 1.5rem 15px 2rem 15px;
}

.main .register .form_in input,
#textarea {
    display: block;
    width: 80%;
    border-radius: 4px;
    outline: none;
    background-color: #eaeaea35;
    padding: 12px 10px;
    margin: 12px auto;
    border: 1.4px solid #e9e9e9;
    resize: none;
}

.main .register .form_in input[type="submit"] {
    margin: 1.6rem auto;
    width: 50%;
    background-color: #e91e63;
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.main .register .form_in .agree {
    display: flex;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}

.main .register .form_in .agree label {
    cursor: pointer;
    font-size: 14px;
    color: #4d4d4dad;
    margin: 0 7px;
    user-select: none;
    font-weight: 300;
}

.main .register .form_in .agree input {
    display: inline-block;
    padding: 0%;
    margin: 0%;
    width: unset;
    accent-color: #e91e63;
}

::placeholder {
    text-transform: capitalize;
    color: #787878bb;
    font-size: 12px;
}

/* end main */